In [1]:
import openpyxl
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel("./2022-2_GSW_courses.xlsx")
temp = pd.DataFrame(data)
temp.head(3)

,OpenYear,Semester,StudYear,Type,College,Department,CourseCode,CourseName,Credit,Lecture,Practice,Lecturer,CourseTime1,CourseTime2,LectureBuilding,LectureRoom,StudQuota
0,2022,2학기,1,교양,IT대학,컴퓨터학부 글로벌소프트웨어융합전공,CLTR0003-005,실용화법,3,3,0,김령환,"화 1A,1B,2A,목 2B,3A,3B","화 09:00 ~ 10:30,목 10:30 ~ 12:00",산격동 캠퍼스 IT대학5호관(IT융복합관),251,70
1,2022,2학기,1,교양,IT대학,컴퓨터학부 글로벌소프트웨어융합전공,CLTR0003-006,실용화법,3,3,0,박소은,"화 1A,1B,2A,목 2B,3A,3B","화 09:00 ~ 10:30,목 10:30 ~ 12:00",산격동 캠퍼스 IT대학5호관(IT융복합관),248,70
2,2022,2학기,2,교양,IT대학,컴퓨터학부 글로벌소프트웨어융합전공,CLTR0043-007,서양의역사와문화,3,3,0,최현미,"화 8B,9A,9B,목 8B,9A,9B","화 16:30 ~ 18:00,목 16:30 ~ 18:00",산격동 캠퍼스 IT대학5호관(IT융복합관),B102,70

In [3]:
# 교과목 정보
course_info = temp[["CourseCode","CourseName", "OpenYear","Semester","Type", "StudYear", "Credit","Lecture","Practice"]]
lecturer_info = temp[["CourseCode","Lecturer", "CourseTime1","CourseTime2","LectureBuilding", "LectureRoom","StudQuota"]]
student_info = pd.DataFrame({
    "StudentID" : [],
    "CourseCode" : [],
    "CourseName" : [],
    "CourseType" : [],
    "CourseCredits" : [],
})

In [4]:
# 수강정원이 최대 2명이다 보니 attribute에 현재 수강 인원도 추가해야할 듯
course_info[["StudQuota"]] = 0
course_info.head()

C:\Users\jun00\AppData\Local\Temp\ipykernel_3176\505079075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  course_info[["StudQuota"]] = 0

,CourseCode,CourseName,OpenYear,Semester,Type,StudYear,Credit,Lecture,Practice,StudQuota
0,CLTR0003-005,실용화법,2022,2학기,교양,1,3,3,0,0
1,CLTR0003-006,실용화법,2022,2학기,교양,1,3,3,0,0
2,CLTR0043-007,서양의역사와문화,2022,2학기,교양,2,3,3,0,0
3,CLTR0089-004,회계와사회생활,2022,2학기,교양,3,3,3,0,0
4,CLTR0205-036,대학글쓰기,2022,2학기,교양,1,3,3,0,0

In [5]:
# 과제 조건 : 수강 정원은 2명 (최대 2명이 들을 수 있다)
# 수강 정원 변경
lecturer_info[["StudQuota"]] = lecturer_info[["StudQuota"]]*0+2
lecturer_info.rename(columns = {"StudQuota" : "MaxStudQuota"}, inplace=True)
lecturer_info.head()

C:\Users\jun00\AppData\Local\Temp\ipykernel_3176\2183154454.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lecturer_info[["StudQuota"]] = lecturer_info[["StudQuota"]]*0+2
C:\Users\jun00\AppData\Local\Temp\ipykernel_3176\2183154454.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lecturer_info.rename(columns = {"StudQuota" : "MaxStudQuota"}, inplace=True)

,CourseCode,Lecturer,CourseTime1,CourseTime2,LectureBuilding,LectureRoom,MaxStudQuota
0,CLTR0003-005,김령환,"화 1A,1B,2A,목 2B,3A,3B","화 09:00 ~ 10:30,목 10:30 ~ 12:00",산격동 캠퍼스 IT대학5호관(IT융복합관),251,2
1,CLTR0003-006,박소은,"화 1A,1B,2A,목 2B,3A,3B","화 09:00 ~ 10:30,목 10:30 ~ 12:00",산격동 캠퍼스 IT대학5호관(IT융복합관),248,2
2,CLTR0043-007,최현미,"화 8B,9A,9B,목 8B,9A,9B","화 16:30 ~ 18:00,목 16:30 ~ 18:00",산격동 캠퍼스 IT대학5호관(IT융복합관),B102,2
3,CLTR0089-004,조성표,"토 7A,7B,8A,토 8B,9A,9B","토 15:00 ~ 16:30,토 16:30 ~ 18:00",산격동 캠퍼스 IT대학5호관(IT융복합관),B102,2
4,CLTR0205-036,홍미주,"화 2B,3A,3B,목 1A,1B,2A","화 10:30 ~ 12:00,목 09:00 ~ 10:30",산격동 캠퍼스 IT대학5호관(IT융복합관),324,2

In [6]:
student_info

Empty DataFrame
Columns: [StudentID, CourseCode, CourseName, CourseType, CourseCredits]
Index: []

In [9]:
# lecturer sql 명령어 생성
lecturer_info
lecturer_info_sql = []
for i in range(len(lecturer_info)):
    temp = "INSERT INTO LecturerInfo VALUES("
    for j in range(len(lecturer_info.loc[i])-1):
        temp += "\"" + str(lecturer_info.loc[i][j]) + "\", " 
    temp += str(lecturer_info.loc[i][-1]) + ");\n"
    lecturer_info_sql.append(temp)

lecturer_info_file = open("./lecturer.sql", "w", encoding = "utf-8")
for sql in lecturer_info_sql:
    lecturer_info_file.write(sql)
print("lecturer.sql Created successfully!")

lecturer.sql Created successfully!

In [11]:
# course sql 명령어 생성
course_info.head()
course_info_sql = []
for i in range(len(course_info)):
    temp = "INSERT INTO CourseInfo VALUES("
    for j in range(5):
            temp += "\"" + str(course_info.loc[i][j]) + "\", " 
    for k in range(5, 9):
            temp += str(course_info.loc[i][k]) + ", " 
    temp += str(course_info.loc[i][-1]) + ");\n"
    course_info_sql.append(temp)

course_info_file = open("./course.sql", "w", encoding = "utf-8")
for sql in course_info_sql:
    course_info_file.write(sql)
print("course.sql Created successfully!")

course.sql Created successfully!